<!DOCTYPE html>
<html>
<body>
  <h1>Enta i tim 2 puchase</h1>

  <form method="post" action="/teams">
    <label for="team[name]"> Team Name:</label><br>
    <input type="text" id="team[name]" name="team[name]"><br>
    <label for="team[motto]"> Team Motto:</label><br>
    <input type="text" id="team[motto]" name="team[motto]"><br>
  </form>
  
</html>
